* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.header {
    width: 100%;
    padding: 0px 0.362px 9.083px 0px;
    gap: 14.148px;
    background-color: #FFF;
}

.header .top {
    background-color: #36B7AF;
    height: 68.384px;
    padding: 10.611px 10.821px 3.537px 11.358px;
    width: 100%;
}

.header .top .content {
    padding: 11.79px;
    gap: 5.895px;
}

.header .top .content .topbarIcon {
    width: 18.865px;
    height: 18.865px;
    cursor: pointer;
}

.header .top .content .topbarText {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16.507px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.297px;
    letter-spacing: 0.236px;
}

.header .top .content .socialIcons {
    gap: 12.484px;
}

.header .navbar {
    width: 100%;
    height: 68.384px;
    padding: 0px 20.044px 0px 44.803px;
    gap: 47.162px;
}

.header .navbar .logo {
    height: 68.384px;
    padding: 15.328px 41.48px 15.057px 0px;
}

.header .navbar .logo h1 {
    color: #252B42;
    font-family: Montserrat;
    font-size: 28.297px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.729px;
    letter-spacing: 0.118px;
}

.header .navbar nav {
    height: 78.384px;
    padding: 2.358px 0px;
    gap: 555.327px;
}

.header .navbar nav ul li a {
    text-align: center;
    font-family: Montserrat;
    font-size: 16.507px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.297px;
    letter-spacing: 0.236px;
    text-decoration: none;
    color: #737373;
}

.header .navbar nav ul .active {
    color: #23A6F0 !important;
}

.header .navbar nav ul .dropdownMenu>a {
    color: #252B42;
    font-weight: 500;
}

.header .navbar nav ul li .dropdown-menu {
    z-index: 10 !important;
}

.header .navbar nav ul li a .arrowDown {
    fill: #252B42;
}

.header .navbar .otherLinks {
    height: 63.384px;
    padding: 17.686px;
    gap: 5.895px;
}

.header .mobile-nav .otherLinks {
    height: 63.384px;
    padding: 0px;
    gap: 5.895px;
}

.header .navbar .otherLinks .text {
    color: #23A6F0;
    text-align: center;
    font-family: Montserrat;
    font-size: 16.507px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.297px;
    letter-spacing: 0.236px;
    cursor: pointer;
}

.header .mobile-nav ul .otherLinks .text {
    color: #23A6F0;
    text-align: center;
    font-family: Montserrat;
    font-size: 16.507px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.297px;
    letter-spacing: 0.236px;
    cursor: pointer;
}

.header .navbar .otherLinks div span {
    color: #23A6F0;
    text-align: center;
    font-family: Montserrat;
    font-size: 14.148px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.865px;
    letter-spacing: 0.236px;
}

.header .navbar .otherLinks div span img {
    cursor: pointer;
}

.header .mobile-nav ul .otherLinks div span {
    color: #23A6F0;
    text-align: center;
    font-family: Montserrat;
    font-size: 14.148px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.865px;
    letter-spacing: 0.236px;
    margin-top: -20px;
}

.header .mobile-nav .checkBtn {
    display: none;
    cursor: pointer;
}

.header .mobile-nav #check {
    display: none;
}

.header .mobile-nav .right ul {
    display: none;
    list-style: none;
}

.header .mobile-nav .right ul li a {
    text-align: center;
    font-family: Montserrat;
    font-size: 16.507px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.297px;
    letter-spacing: 0.236px;
    text-decoration: none;
    color: #737373;
    text-decoration: none;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}

.header .mobile-nav .right ul li .active {
    color: #23A6F0 !important;
}

.header .mobile-nav .right ul li .content .topbarIcon {
    width: 18.865px;
    height: 18.865px;
    cursor: pointer;
}

.header .mobile-nav .right ul li .content .topbarText {
    color: #737373;
    font-family: Montserrat;
    font-size: 16.507px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.297px;
    letter-spacing: 0.236px;
}

.header .mobile-nav .right ul li .content .socialIcons {
    gap: 12.484px;
}

.hero {
    height: 870px;
    padding: 26px 90px 25px 90px;
    background-color: #FFF;
}

.hero .main {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.hero .main .banner {
    width: 605.822px;
    padding-top: 22.168px;
    gap: 6.702px;
}

.hero .main .banner .content {
    width: 505.822px;
    padding: 22.168px;
    gap: 6.702px;
}

.hero .main .banner .content .total {
    color: #2DC071;
    font-family: Montserrat;
    font-size: 18.764px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.168px;
    letter-spacing: 0.268px;
}

.hero .main .banner .content .title {
    color: #252B42;
    font-family: Newsreader;
    font-size: 33.613px;
    font-style: normal;
    font-weight: 400;
    line-height: 47.016px;
    letter-spacing: 0.268px;
    text-transform: uppercase;
}

.hero .main .banner .content .button {
    color: #36B7AF;
    font-family: Montserrat;
    font-size: 18.764px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.168px;
    letter-spacing: 0.268px;
    text-transform: uppercase;
    cursor: pointer;
}

.sell-banner {
    margin-top: 130px;
    width: 100%;
    height: 346px;
    flex-shrink: 0;
    opacity: 1;
    background: url('./assets/img/image-8.png'), black 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sell-banner .content {
    padding: 80px;
    gap: 30px;
    border: 3px solid #ECECEC;
    border-left: none;
    border-right: none;
}

.sell-banner .content {
    color: #FFF;
    text-align: center;
    font-family: Newsreader;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5.2px;
}

.featured {
    padding-top: 100px;
    background: #FAFAFA;
}

.featured .content {
    padding: 0 40px;
}

.featured .content .title {
    color: #737373;
    text-align: center;
    font-family: Montserrat;
    font-size: 19.516px;
    font-style: normal;
    font-weight: 400;
    line-height: 44.274px;
    letter-spacing: 0.295px;
}

.featured .content .subtitle {
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 25.419px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.225px;
    letter-spacing: 0.148px;
}

.featured .content .paragraph {
    color: #737373;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.661px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.516px;
    letter-spacing: 0.295px;
}

.featured .products {
    padding: 100px 250px 100px 250px;
}

.featured .products .one {
    height: 100%;
    width: 100%;
    background: url('./assets/img/image-6.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}

.featured .products .one .overlay {
    background: rgba(6, 6, 6, 0.48);
}

.featured .products .one .overlay .content {
    padding: 80px 50px 50px 50px;
}

.featured .products .one .overlay .content .title {
    color: #FFF;
    text-align: left;
    font-family: Montserrat;
    font-size: 32.83px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.244px;
    letter-spacing: 0.33px;
}

.featured .products .one .overlay .content .paragraph {
    margin-top: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20.5px;
    letter-spacing: 0.33px;
    text-align: left;
}


.featured .products .one .overlay .content .icons {
    position: absolute;
    bottom: 8%;
}

.featured .products .one .overlay .content .icons .circle {
    display: flex;
    width: 37.759px;
    height: 37.759px;
    padding: 15.44px;
    justify-content: center;
    align-items: center;
    border-radius: 87.062px;
    background: #FFF;
    cursor: pointer;
}


.featured .products .two {
    background: url('./assets/img/card-cover-5.png'), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    min-height: 200px;
}

.featured .products .three {
    background: url('./assets/img/card-cover-6.png'), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    min-height: 200px;
}

.featured .products .four {
    background: url('./assets/img/card-cover-7.png'), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    min-height: 200px;
}

.featured .products .button {
    display: inline-flex;
    padding: 14px 25px 14px 25px;
    justify-content: center;
    align-items: center;
    background: #36B7AF;
    cursor: pointer;
}

.featured .products .button span {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.012px;
    font-style: normal;
    font-weight: 700;
    line-height: 10.518px;
    letter-spacing: 0.119px;
}

.popular {
    padding-top: 40px;
    background: #FAFAFA;
}

.popular .bg-img {
    background: url('./assets/img/image-9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    min-height: 440px;
}

.popular .content {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 44.088px;
    flex-shrink: 0;
    background: #FAFAFA;
}

.popular .content .title {
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 25.27px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.027px;
    letter-spacing: 0.147px;
}

.popular .content .paragraph {
    color: #737373;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.574px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.392px;
    letter-spacing: 0.294px;
    width: 70%;
    margin-top: -30px;
}

.popular .content .image {
    background: url('./assets/img/image-10.png'), lightgray 65.525px -74px / 69.7% 92.773% no-repeat;
    width: 312px;
    height: 377px;
}

.popular .content .caption {
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.574px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.27px;
    letter-spacing: 0.294px;
    margin-top: -30px;
}

.popular .content .price {
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.514px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.27px;
    letter-spacing: 0.147px;
}

.popular .content .discount {
    color: #23856D;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.514px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.27px;
    letter-spacing: 0.147px;
}

.best-seller {
    padding-top: 100px;
}

.best-seller .content .title {
    color: #737373;
    text-align: center;
    font-family: Montserrat;
    font-size: 19.516px;
    font-style: normal;
    font-weight: 400;
    line-height: 44.274px;
    letter-spacing: 0.295px;
}

.best-seller .content .subtitle {
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 25.419px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.225px;
    letter-spacing: 0.148px;
}

.best-seller .content .paragraph {
    color: #737373;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.661px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.516px;
    letter-spacing: 0.295px;
}

.best-seller .products {
    margin-top: 80px;
    padding: 0 100px;
}

.best-seller .products .one {
    background: url('./assets/img/image-11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
}

.best-seller .products .two {
    background: url('./assets/img/image-12.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
}

.best-seller .products .three {
    background: url('./assets/img/image-13.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
}

.best-seller .products .four {
    background: url('./assets/img/image-14.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
}

.best-seller .products .content {
    display: flex;
    padding: 26.895px 26.895px 41.653px 26.895px;
    flex-direction: column;
    align-items: center;
    gap: 14.758px;
    align-self: stretch;
}

.best-seller .products .content .title {
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.613px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.419px;
    letter-spacing: 0.148px;
    width: 70%;
}


.best-seller .products .content .subtitle {
    color: #737373;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.661px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.419px;
    letter-spacing: 0.295px;
    text-transform: capitalize;
}

.best-seller .products .content .price {
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.514px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.27px;
    letter-spacing: 0.147px;
}

.best-seller .products .content .discount {
    color: #23856D;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.514px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.27px;
    letter-spacing: 0.147px;
}

.brands {
    margin-top: 50px;
    padding: 0 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.brands .card {
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands .card .off {
    color: #737373;
    font-family: Montserrat;
    font-size: 15.786px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.919px;
    letter-spacing: 0.283px;
    text-align: left;
}

.brands .card .text {
    color: #252B42;
    font-family: Miama;
    font-size: 20.919px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.225px;
    letter-spacing: 0.141px;
    text-align: left;
}

.brands .card .button {
    color: #252B42;
    font-family: Montserrat;
    font-size: 12.959px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.613px;
    letter-spacing: 0.283px;
    text-align: left;
    cursor: pointer;
}

.slider {
    margin-top: 100px;
    padding-left: 120px;
}

.slider .bg-img {
    background: url('./assets/img/image-15.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 690px;
    flex-shrink: 0;
}

.slider .bg-img .title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.139px;
    letter-spacing: 0.284px;
}

.slider .bg-img .subtitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.139px;
    letter-spacing: 0.284px;
}

.slider .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #ECECEC;
}

.slider .topbar .title {
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 18.76px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.139px;
    letter-spacing: 0.142px;
}

.slider .topbar .category {
    display: flex;
}

.slider .topbar .category div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #737373;
    font-weight: 700;
    cursor: pointer;
}

.slider .topbar .category .active {
    color: #23A6F0;
}

.slider .topbar .circle {
    display: flex;
    height: 48.279px;
    padding: 20px;
    align-items: center;
    border-radius: 50%;
    border: 1.422px solid #BDBDBD;
    cursor: pointer;
}

.slider .products {
    padding: 34.139px 25px 34.139px 25px;
}

.slider .products .image {
    display: flex;
    padding: 0px 31.466px 0px 30.846px;
    justify-content: center;
    align-items: center;
}

.slider .products .image img {
    width: 108px;
    height: 157px;
    flex-shrink: 0;
}

.slider .products .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10.225px;
    align-self: stretch;
    margin-top: 20px;
}

.slider .products .content .title {
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.613px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.419px;
    letter-spacing: 0.148px;
    width: 85%;
    text-transform: capitalize;
}


.slider .products .content .subtitle {
    color: #737373;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.661px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.419px;
    letter-spacing: 0.295px;
    text-transform: capitalize;
}

.slider .products .content .price {
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.514px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.27px;
    letter-spacing: 0.147px;
}

.slider .products .content .discount {
    color: #23856D;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.514px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.27px;
    letter-spacing: 0.147px;
}

.points {
    margin-top: 50px;
    padding: 0 85px;
    background: #FFF;
}

.points .content {
    padding: 15.905px;
    gap: 15px;
}

.points .content .number {
    color: #E74040;
    font-family: Montserrat;
    font-size: 47.448px;
    font-style: normal;
    font-weight: 700;
    line-height: 71.811px;
    letter-spacing: 0.287px;
}


.points .content .title {
    color: #252B42;
    font-family: Montserrat;
    font-size: 16.107px;
    font-style: normal;
    font-weight: 700;
    line-height: 34.469px;
    letter-spacing: 0.287px;
}

.points .content .subtitle {
    color: #737373;
    font-family: Montserrat;
    font-size: 12.235px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.979px;
    letter-spacing: 0.287px;
}

.sponsors {
    margin-top: 50px;
    background: #FAFAFA;
    padding: 0 85px;
}

.social {
    margin-top: 50px;
    padding: 0 85px;
    background: #FFF;
}

.social .logo {
    color: #252B42;
    font-family: Montserrat;
    font-size: 25.967px;
    font-style: normal;
    font-weight: 700;
    line-height: 42.623px;
    letter-spacing: 0.133px;
}

.social img {
    cursor: pointer;
}

.footer {
    margin-top: 30px;
    padding: 0 85px;
    background: #FFF;
}

.footer .row {
    border-top: 2px solid #ECECEC;
}

.footer .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18.639px;
}

.footer .content .title {
    color: #252B42;
    font-family: Montserrat;
    font-size: 17.311px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.967px;
    letter-spacing: 0.133px;
}

.footer .content ul li a {
    color: #737373;
    font-family: Montserrat;
    font-size: 14.648px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.266px;
}

.footer .content .form {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 6.66px;
    border: 1.332px solid #E6E6E6;
    background: #F9F9F9;
}

.footer .content .form input {
    color: #737373;
    font-family: Montserrat;
    font-size: 14.648px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.295px;
    letter-spacing: 0.266px;
    background: transparent;
    width: 120%;
    margin: 10px 15px 10px 15px;
}

.footer .content .form input:focus {
    outline: none;
    border: none;
    appearance: none;
}

.footer .content .form button {
    border-radius: 0px 6.66px 6.66px 0px;
    border: 1.332px solid #E6E6E6;
    background: #23A6F0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14.648px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.295px;
    letter-spacing: 0.266px;
    padding: 10px 8px 10px 8px;
    width: 50%;
    cursor: pointer;
}

.copyright {
    display: flex;
    padding: 15px 85px;
    justify-content: left;
    align-items: center;
    background: #FAFAFA;
}

.copyright h1 {
    color: #737373;
    font-family: Montserrat;
    font-size: 13.648px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.967px;
    letter-spacing: 0.266px;
}

/* Media Queries */

.large-screen {
    display: none;
}

.vertical-img-1 {
    height: 823.5px;
}

.horizontal-img-1 {
    height: 400px;
}

@media screen and (min-width: 1280px) {
    .large-screen {
        display: block;
    }

    .header .top .content .topbarText {
        font-size: 16.507px !important;
    }

    .header .navbar .logo h1 {
        font-size: 28.297px !important;
    }

    .vertical-img-1 {
        height: 823.5px !important;
    }

    .horizontal-img-1 {
        height: 400px !important;
    }

    .hero .main .banner .content .title {
        font-size: 33.613px !important;
    }

    .sell-banner .content {
        padding: 80px !important;
    }

    .sell-banner .content .title {
        font-size: 40px !important;
    }

    .featured .products {
        padding: 100px 250px 100px 250px !important;
    }

    .featured .products .one {
        height: 648px !important;
    }

    .featured .products .one .overlay .content {
        padding: 80px 50px 50px 50px !important;
        width: 80% !important;
    }

    .featured .products .one .overlay .content .title {
        line-height: 49.244px !important;
    }

    .featured .products .one .overlay .content .paragraph {
        width: 100% !important;
    }

    .featured .products .button {
        padding: 14px 25px 14px 25px !important;
    }

    .featured .products .button span {
        font-size: 13.012px !important;
        line-height: 10.518px !important;
    }

    .popular .bg-img {
        min-height: 440px !important;
    }

    .best-seller .products {
        padding: 0 100px !important;
    }

    .brands {
        padding: 0 100px !important;
    }

    .slider {
        padding-left: 120px !important;
    }

    .slider .bg-img {
        height: 690px !important;
    }

    .footer .content .form input {
        margin: 10px 15px 10px 15px !important;
    }

    .footer .content .form button {
        padding: 10px 8px 10px 8px !important;
    }

    .copyright {
        padding: 15px 85px !important;
    }

    .copyright h1 {
        font-size: 13.648px !important;
    }
}

@media screen and (max-width:1280px) {

    .header .navbar .logo h1 {
        font-size: 20px;
    }

    .header .mobile-nav .right .list {
        overflow: hidden;
        width: 100%;
        height: 110vh;
        background-color: #FAFAFA;
        text-align: left;
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 50px 30px 50px 30px;
        z-index: 1;
        top: 0;
        left: 100%;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .header .mobile-nav #check {
        display: none;
        z-index: 20;
        position: relative;
    }

    .header .mobile-nav .checkBtn {
        display: block;
        z-index: 20;
        position: relative;
    }

    .header .mobile-nav #check:checked~ul {
        left: 0%;
    }

    .vertical-img-1 {
        height: 200px;
    }

    .horizontal-img-1 {
        height: 200px;
    }

    .hero .main .banner .content .title {
        font-size: 23.613px;
    }

    .sell-banner .content {
        padding: 40px;
    }

    .sell-banner .content .title {
        font-size: 20px;
    }

    .featured .products {
        padding: 50px 125px 50px 125px;
    }

    .featured .products .one .overlay .content {
        padding: 40px 25px 25px 25px;
    }

    .featured .products .one .overlay .content .title {
        font-size: 26px;
        line-height: 25.244px;
    }

    .featured .products .one .overlay .content .paragraph {
        width: 100%;
    }

    .featured .products .button {
        padding: 7px 12.5px 7px 12.5px;
    }

    .featured .products .button span {
        font-size: 11.012px;
        line-height: 8.518px;
    }

    .popular .bg-img {
        min-height: 460px;
    }

    .slider .bg-img {
        height: 720px;
    }

    .footer .content .form input {
        margin: 5px 7.5px 5px 7.5px;
    }

    .footer .content .form button {
        padding: 6px 5px 6px 5px;
    }

    .copyright {
        padding: 7.5px 42.5px;
    }

    .copyright h1 {
        font-size: 11.648px;
    }
}

@media screen and (max-width:990px) {
    .slider {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:500px) {
    .header .top .content .topbarText {
        font-size: 12px;
    }

    .featured .products {
        padding: 25px 62.5px 25px 62.5px;
    }

    .best-seller .products {
        padding: 0 50px;
    }

    .brands {
        padding: 0 50px;
    }

    .footer .content .form button {
        padding: 7px 6px 7px 6px;
    }
}